{% extends 'layout.html' %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">USER MANAGEMENT</h1>
    <a
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <i class="fas fa-user-plus fa-sm text-white-50"></i> Add User</a
    >
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center">
            <h5 class="h4 text-gray-900 mb-4">Create New User!</h5>
          </div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- model body -->

          <!-- Page Heading -->
          <div class="wrapper">
            <div class="col-lg-12">
              <div class="">
                <form
                  class="user"
                  action="{{ url_for('addusers.adduser') }}"
                  method="post"
                >
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="text"
                        required
                        name="name"
                        class="form-control form-control-user"
                        id="exampleFirstName"
                        placeholder="User Name"
                      />
                    </div>
                    <div class="col-sm-6">
                      <select
                        required
                        class="form-select form-control form-control-user"
                        style="width: 100%; height: 100%; padding: 2%"
                        name="type"
                        aria-label="Default select example"
                      >
                        <option selected value="admin">Admin</option>
                        <option value="architect">Architect</option>
                        <option value="operations">Operations</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      required
                      name="email"
                      placeholder="Email Address"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      required
                      name="password"
                      placeholder="Password"
                    />
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <input type="submit" class="btn btn-primary" value="Add" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <table class="c-table">
      <thead class="c-table__header">
        <tr>
          <th class="c-table__col-label">ID</th>
          <th class="c-table__col-label">Name</th>
          <th class="c-table__col-label">Email</th>
          <th class="c-table__col-label">Access Level</th>
          <th class="c-table__col-label">Action</th>
        </tr>
      </thead>
      <tbody class="c-table__body">
        {% for user in users: %}
        <tr>
          <td class="c-table__cell">{{ user[0] }}</td>
          <td class="c-table__cell">{{ user[1] }}</td>
          <td class="c-table__cell">{{ user[2] }}</td>
          <td class="c-table__cell">{{ user[4] }}</td>
          <td class="c-table__cell">
            <a href="{{ url_for('edit.edituser', id=user[0]) }}"
              ><i class="fas fa-user-edit"></i
            ></a>
            <a href="{{ url_for('delete.deleteuser', id=user[0]) }}"
              ><i style="margin-left: 20px" class="fas fa-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
